
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
}

/* Main content styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

.product-card img {
    width: 15rem;
    height: 15rem;
    margin: 2.5rem 0; 
    text-align: center;
}

.product-card h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.product-card p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #45a049;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 20%; /* Adjust this value based on the number of items you want to show */
    text-align: center;
    padding: 20px;
    transition: transform 0.5s;
  }
  
  .carousel-item img {
    width: 100%;
    max-width: 150px; /* Adjust this value based on your image size */
    height: auto;
    margin-bottom: 10px;
  }
  
  .carousel-item h3 {
    margin-bottom: 5px;
  }
  
  .carousel-item p {
    color: #888;
  }
  

/* Navigation buttons */
/* Add styling for previous and next buttons */
.carousel-nav {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
}

.carousel-nav button {
background-color: #ddd;
border: none;
color: #333;
padding: 10px;
margin: 0 5px;
cursor: pointer;
}

.carousel-nav button:hover {
background-color: #bbb;
}
